
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-top: 50px;
}

.start-location,.end-location{
  height: 20px;
}

#start-destination, #end-destination, #bus-search {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
}

button {
  padding: 12px 36px;
  background-color: var(--coloraccent);
  color: var(--colorsecondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  scale: 1.05;
  background-color: var(--colorprimary);
  transition: var(--transition);
}

#search-btn{
  padding: 12px 20px;
}

.label{
  font: 500 18px/30px var(--ff);
}

.start-container,.end-container{
  position: relative;
}

.suggestions1 , .suggestions2 {
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 150px;
  background-color: white;
  box-shadow: var(--shadow);
  cursor: pointer;
  z-index: 30;
  border-radius: 10px;
  padding-left: 10px;
}

.suggestions2{
  z-index: 5;
}



.suggestions div {
  padding: 8px;
  cursor: pointer;

}

.suggestions div:hover {
  background-color: #ddd;
}

#map {
  height: 500px;
  border-radius: 30px;
  margin: 20px;
  margin-bottom: 200px;
  border: 4px solid rgb(180, 180, 180);
  z-index: 90;
}

#bus-info{
  margin-left: 50px;
  width: 300px;
}

h2{
 font: bold 24px/30px var(--ff);
 color: white;
 background: var(--coloraccent);
 padding: 10px 20px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

#bus-list {
  list-style-type: disc;
  padding: 0;
  position: relative;
}

#bus-list li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
  cursor: pointer;
  font-family: var(--ff);
  padding: 10px;
  transition: 0.5s;
}

#bus-list li:hover{
  scale: 1.1;
} 